@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.navbar {
  background: black;
}

.logo {
  font-family: 'poppins',sans-serif;
  color: white;
  padding: 1rem 9%;
  font-size: 2.3rem;
}

.logo::first-letter {
  color: yellow;
}

.name {
  font-family: 'poppins',sans-serif;
  color: white;
  padding: 1rem 9%;
  font-size: 1.5rem;
}